@import "variables";

div.highlight {
 overflow: unset;
 margin-bottom: 5px;
 color: #b7b7b7;
 border: 1px solid #535353;
}

pre.highlight{
 max-width: 100%;
 line-height: 1.5;
 background: #211f26;
}

code {
  font-family: "JetBrains Mono";
  font-size: 13px;
  font-weight: 400;
  position: relative;
  font-variant-ligatures: none;
}

code img {
  margin: 0px;
  filter: invert(0.7);
}

code.language-plaintext {
  padding: 0.4px 5px;
  padding-bottom: 0;
  background: #171717;
  border: 1px solid #757575;
  font-size: 12.5px;
}
