@import "variables";

div.highlight {
 overflow: unset;
 margin-bottom: 5px;
 color: #2b2b2b;
}

pre.highlight{
 max-width: 100%;
 line-height: 1.5;
 background: #d5d5d5;
}

code {
  font-family: "JetBrains Mono";
  font-size: 13px;
  font-weight: 400;
  position: relative;
  font-variant-ligatures: none;
}

code img {
  margin: 0px;
}

code.language-plaintext {
  padding: 0.4px 5px;
  padding-bottom: 0;
  background: #d5d5d5;
  border: 1px solid #d5d5d5;
  font-size: 12.5px;
}
